body {
    background-repeat: no-repeat;
    background: url("../pictures/giphy.gif") no-repeat center center fixed; 
    background-size: cover;
}
.gifImg{
    border: solid black 2px;
    border-radius: 10px;
    width: 350px;
    height: 250px;
    margin: 20px 40px 10px 0px;
    padding: 0px;
}
.input-group{
    margin-top:20px;
    margin-bottom:20px;
}
.game-btn {
    margin-right: 5px;
    margin-bottom: 5px;
}
#game-view {
    text-align: center;   
}
#add-more{
    display: none;
}
.newBtn {
    text-align: center;
    margin: 30px;
}