.gifImg {
    padding: 0px;
    margin-bottom: 10px;
}
.gifImg{
    margin-top:40px;
}
.input-group{
    margin-top:20px;
    margin-bottom:20px;
}
.game-btn {
    margin-right: 5px;
    margin-bottom: 5px;
}